
<div class="wrapper">


  <div class="container">

    <h1 class="text-center">
      Available Bathrooms
    </h1>

    <div class="filter-bar">
      <form action="">
        <label for="baby">Baby</label>
        <input type="checkbox" name="baby">
        <label for="handicapped">Handicapped</label>
        <input type="checkbox" name="handicapped">
        <label for="bidet">Bidet</label>
        <input type="checkbox" name="bidet">
        <label for="style">Style:</label>
        <select name="style">
          <option value="all">All</option>
          <option value="western">Western</option>
          <option value="japanese">Japanese</option>
          <option value="turkish">Turkish</option>
        </select>
        <label for="price">Price in cent:</label>
        <input type="number" name="price">
      </form>
    </div>


    <div class="available-bathrooms">

      <div class="card-container">
        <div class="row">

        <% @bathrooms.each do |bathroom| %>
          <% string = Bathroom.class_string(bathroom) %>
           <div class="col-xs-12 col-sm-6">

            <div class="card" style="background-image: linear-gradient(rgba(0,0,0,0.3), rgba(0,0,0,0.2)), url(<%= cl_image_path(bathroom.photo, height: 400, width: 400, crop: :fit) %>);" <%= string %>>
              <div class="card-category"><%= bathroom.price.fdiv(100) %>€</div>
              <div class="card-description">
                <h2><%= bathroom.title %></h2>
                <p><%=  bathroom.address %></p>
              </div>
                            <%= cl_image_tag(bathroom.user.photo, class: "card-user") %>

              <!-- <img class="card-user" src="https://kitt.lewagon.com/placeholder/users/tgenaitay"> -->
              <%= link_to "" ,bathroom_path(bathroom), class:"card-link" %>
            </div>
          </div>
        <% end %>
        </div>


      </div>


        <div
        id="map" class="map-container"
        style="min-width: 300px; width: 100%; height: 600px;"
        data-markers="<%= @markers.to_json %>">
      </div>


    </div>

    <!-- might need styling, see _index.scss -->


  </div>
</div>





