<div class="container new-bathroom-form"><h1>Host your toilet!</h1>
  <div>
    <%= simple_form_for @bathroom do |f| %>
      <%= f.input :title, placeholder: "Enter a Tagline" %>
      <%= f.input :address, placeholder: "Streetname and number" %>
      <%= f.input :plz %>
      <%= f.input :city %>
      <%= f.input :description, placeholder: "Further describe your bathroom", as: :text %>
      <%= f.input :price, placeholder: "Default price is 0,50€", as: :integer, required: false %>
      <%= f.input :wipes, label: "Wetwipes?", as: :boolean, required: false %>
      <%= f.input :baby, label: "Diaper-changing table?", as: :boolean, required: false %>
      <%= f.input :bidet, label: "Bidet?", as: :boolean, required: false %>
      <%= f.input :photo, label: "Upload a nice picture of your bathroom" %>
      <%= f.input :photo_cache, as: :hidden %>
      <%= f.submit %>
      <% end %>
    <p>Fields marked with a * are required</p>
  </div>
</div>
