<div class="wrapper">
  <div class="container show-bathroom">

        <div class="bathroom-info">
          <h1 class= "title"><%= @bathroom.title %></h1>
          <p>Address: <%= @bathroom.address %></p>
          <p>Handicapped suited? <%= @bathroom.handicapped %></p>
          <p>Style: <%= @bathroom.style %></p>
          <p>Toilet Paper Layer: <%= @bathroom.toilet_paper %></p>
          <p>Wipes Availiable: <%= @bathroom.wipes %></p>
          <p>Baby suited? <%= @bathroom.baby %></p>
          <p>Bidet Availiable? <%= @bathroom.bidet %></p>
          <%= link_to "Go Back", bathrooms_path %>
        </div>

    <div class="bathroom-photo">
        <%= cl_image_tag @bathroom.photo, height: 300, width: 400, crop: :fill %>
    </div>

    <div class="bathroom-map">
      <p>MAP</p>
    </div>
  </div>
</div>







