<div class="wrapper">

  <div class="container">
    <div class="show-bathroom">
      <div class="bathroom-info">
        <p class = "uptag"><%= @bathroom.style.upcase %> TOILET IN <%= @bathroom.city.upcase %> </p>
        <div class="bathroom-head">
          <div class="main-infos">
            <h1 class="title"><%= @bathroom.title %>  </h1>
            <h2><% @bathroom.average.to_i.times do %>
                <i class="fa fa-star"></i>
                <% end %>
              <% if (@bathroom.average - @bathroom.average.to_i) > 0.3  %>
                  <i class="fa fa-star-half"></i>
                <% end %>
              </h2>
          </div>
          <div class="avatar-container">
            <%= link_to "#" do   %>
            <%= cl_image_tag @owner.photo, height: 100, width: 100, crop: :fill, class: "avatar-bordered" %>
            <% end %>
          </div>
        </div>

        <div class="bathroom-properties">
          <i class="fas fa-align-justify"></i>

          <span><%= @bathroom.toilet_paper %>-ply paper</span>
          <span>
            <%  if @bathroom.handicapped %>
            <i class="fab fa-accessible-icon"></i>
            <span>Accessible</span>
            <% end %>
          </span>
          <span>

            <%  if @bathroom.baby %>
            <i class="fas fa-child"></i> <span>Babies welcome</span>
            <% end %>
          </span>

          <span>
            <%  if @bathroom.wipes %>
            <i class="far fa-sticky-note"></i><span>Wipes available</span>
            <% end %>
          </span>

          <span>
            <%  if @bathroom.bidet %>
            <i class="fas fa-bath"></i><span>Bidet available</span>
            <% end %>
          </span>

        </div>



        <div class="bathroom-description">

         <p><%= @bathroom.description %></p>

       </div>

       <%= link_to bathroom_bookings_path(@bathroom), method: :post do %>
       <button id="AJAXIFY THIS ON FRIDAY" class="btn btn-danger btn-lg btn-block">

        Book this bathroom for <%= @bathroom.price.to_f/100 %> €

      </button>

      <% end %>




    </div>


    <div class="bathroom-photo">
      <%= cl_image_tag @bathroom.photo, height: 600, width: 800, crop: :fill %>
      <!--         <%= link_to "See photos", "#", class: "photos-link btn btn-danger" %>-->    </div>

      <div
      id="map"
      style="width: 100%; height: 600px;"
      data-markers="<%= @markers.to_json %>"
      data-user_location="<%= @user_location.to_json %>"
      class="bathroom-map"
      >



    </div>
  </div>





<div class="container">

  <div class="review-box">
    <% @last_reviews.each do |review|%>
        <div class="review-field">
          <div class="review-user">
            <% if review.user%>
              <%= cl_image_tag("http://res.cloudinary.com/dlv6654pn/image/upload/v1519307166/eglowf7ha8u4cgonrc8j.png", class:"avatar review-avatar")%>
              <!-- <h2><%= review.user.first_name %> <%= review.user.last_name %></h2> -->
            <% end %>
          </div>
          <div class="review-details">
            <p> <%= review.content %> </p>
            <% review.rating.times do %>
              <i class="fa fa-star"></i>
            <% end %>
          </div>
        </div>
<% end %>
</div>

  <div class="review"><%= link_to "See All Reviews", bathroom_reviews_path(@bathroom) %></div>

</div>
