<div class="wrapper">
  <div class="container center-container">
    <div class="booking-confirm">
      <div class="booking-bathroom-image" style="background-image: url(<%=cl_image_path(@bathroom.photo, width: 400, height: 200, crop: :fill)%>);" >
        <div class="booking-host">
          <%= cl_image_tag( @bathroom.user.photo, :crop => :fill) %>
        </div>
      </div>

      <div class="booking-bathroom-info">
        <h3><%= @bathroom.title%></h3>
        <p><%= @bathroom.address %>, <%= @bathroom.plz %> <%= @bathroom.city %></p>
        <p>Handicapped suited? <%= @bathroom.handicapped %></p>
        <p>Style: <%= @bathroom.style %></p>
        <p>Toilet Paper Layer: <%= @bathroom.toilet_paper %></p>
        <p>Wipes Availiable: <%= @bathroom.wipes %></p>
        <p>Baby suited? <%= @bathroom.baby %></p>
        <p>Bidet Availiable? <%= @bathroom.bidet %></p>
        <%= link_to("Confirm", bathroom_bookings_path, method: :post, class: "btn btn-default")%>

      </div>
      <div class="booking-map">

      </div>



    </div>
  </div>
</div>
