<div class="wrapper">

  <div class="container">
    <div class="booking-grid">

      <div class="booking-info">



          <h1 class="run">Run!</h1>

<div class="where-info">

<p>
<%= @booking.bathroom.address %>, <%= @booking.bathroom.plz %>, <%= @booking.bathroom.city %></p>

</div>


<div class="user-info-vt">
<p>
  Host: <%= @booking.bathroom.user.first_name %> <%= @booking.bathroom.user.last_name %>
</p>



</div>

<div class="text-time">


<p>
  <strong>
  don't waste your time buddy
  </strong>
</p>
<p>
<em>

(not like your host would care) :
</em>
</p>

</div>

<div class="timer">

        <h4 id="booking-timer" data-created=<%= (@booking.created_at.to_f+30*60)*1000 %>></h4>

</div>








      </div>

      <div class="bathroom-info">
        <p class = "uptag"><%= @booking.bathroom.style.upcase %> TOILET IN <%= @booking.bathroom.city.upcase %> </p>
        <div class="bathroom-head">

          <div class="main-infos">
            <h1 class="title"><%= @booking.bathroom.title %></h1>
            <p class = "distance">600 m</p>
          </div>

        </div>

        <div class="bathroom-properties">
          <i class="fas fa-hand-paper"></i>

        </i>  <span><%= @booking.bathroom.toilet_paper %> layers toilet paper</span>

        <span>

          <i class="fab fa-accessible-icon"></i>  <span><%= @booking.bathroom.handicapped ? "accessible" : "not for persons with limited mobility" %></span>
        </span>
        <span>

          <%  if @booking.bathroom.baby %>
          <i class="fas fa-bug"></i> <span>"Babies welcome"</span>
          <% end %>
        </span>

        <span>

          <%  if @booking.bathroom.wipes %>
          <i class="fas fa-bug"></i><span>"Wipes"</span>
          <% end %>
        </span>

        <span>

          <%  if @booking.bathroom.bidet %>
          <i class="fas fa-bug"></i><span>"Bidet"</span>
          <% end %>
        </span>
      </div>

      <div class="bathroom-description">

       <p><%= @booking.bathroom.description %></p>

     </div>
   </div>


   <div
   id="map"
   style="width: 100%; height: 600px;"
   data-markers="<%= @markers.to_json %>"
   data-user_marker="<%= @user_marker.to_json %>"
   class="bathroom-map"
   >


   <%= link_to "Don't like this bathroom? Swipe back", bathrooms_path, class: "btn btn-danger" %>

 </div>
</div>




